@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	font-size: 12pt;
	font-family: "Roboto Slab", serif;
}
#root {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.App {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Page {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-block-start: 0;
	margin-block-end: 0;
	width: 100%;
	font-size: 1rem;
}
.Footer {
	font-size: 1rem;
	text-align: center;
}
/* Media Query > mobile */

@media screen and (min-width: 900px) {
	.App {
		width: 50%;
	}
}
